@import "./variables.scss";

.accent-color {
  color: $accent-color;
}

.color {
  &-lightest-gray {
    color: $lightest-gray;
  }
}

.accent-button {
  color: $lightest-gray;
  background-color: $accent-color;
  border-radius: 20px;
  border: none;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.logo {
  &::before {
    color: $accent-color;
  }
}
