.flex {
  display: flex;
}

.width-100 {
  width: 100%;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.acc {
  align-content: center;
}
