@import "../../Styles/variables.scss";
@import "../../Styles/Globals.scss";
@import "../../Styles/Helpers.scss";

* {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  input {
    margin-top: 15px;
    padding: 5px;
    padding-left: 30px;
    border-radius: 10px;
    border: 2px solid $lightest-blue;
  }
}

label {
  position: relative;
  i {
    position: absolute;
    top: 22px;
    padding-left: 10px;
    color: $dark-blue;
  }
}

button {
  width: 100%;
}

.login {
  color:  white;
  background-color: $dark-blue;
  border-radius: 20px;
  justify-self: center;
  align-self: center;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px rgba(55, 55, 55, 0.269);
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $lightest-blue;
  h1 {
    width: 70%;
    text-align: center;
  }

  .logo {
    padding: 20px;
  }
}
