
.grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: max-content;
    gap: 2rem;
    margin: 0;
}

.grid-nav{
    grid-column: span 2;

    @media only screen and (max-width: $breakpoint-lrg) {
            grid-column: span 3;
        }
   
    @media only screen and (max-width: $breakpoint-med){
        grid-column: span 4;
    }
    
    @media only screen and (max-width: $breakpoint-sml) {
        grid-column: span 5;
    }
    
}

.grid-nav-span{
    &-1{
        grid-column: span 1;
    }
    &-2 {
        grid-column: span 2;
    }
}


