$accent-color: #72E793;
$darkest-blue: #0A162D;
$lightest-blue: #D7F9FF;
$light-blue: #BAD2FF;
$dark-blue: #0E1C36;
$cream: #FFEDE1;
$light-cream: #F9FBF2;

$status-red: #FFB4B4;
$status-green: #ACF4C0;
$status-yellow: #E9FBC4;
$status-cream: #FFEDE1;
$status-blue: #ADD8FF;
$status-pink: #FBC2FC;


$page-margin: 1rem;

//breakpoints for screen sizes
$breakpoint-lrg: 1550px;
$breakpoint-med: 1100px;
$breakpoint-sml: 800px;